
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new complaint has been logged!</h1>
    <p>Date: <%= @complaint.date%>
    <p>Where: <%= @complaint.location%>
    <p>Who: <%= @complaint.offender%>
    <p>What: <%= @complaint.nature%>
    <p>Body: <%= @complaint.body %></p>
  </body>
</html>