<%= form_with(model: complaint, local: true) do |form| %>
  <% if complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
      <% complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :date %>
          <%= form.text_field :date, type: 'date', :class => 'datepicker' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :Where %>
          <%= form.text_field :location, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :Who %>
          <%= form.text_field :offender, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :What %>
          <%= form.text_field :nature, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :subject %>
          <%= form.text_field :subject, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :body %>
          <%= form.text_area :body, size: "10x10", class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= form.submit "Create Complaint", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
