<p id="notice"><%= notice %></p>

<h1>Complaints</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Subject</th>
      <th scope="col">Body</th>
      <th scope="col">Nature</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= truncate(complaint.subject, lenght: 20) %></td>
        <td><%= truncate(complaint.body, length: 70) %></td>
        <td><%= truncate(complaint.nature, lenght: 20) %></td>
        <td><%= link_to 'Show', complaint %></td>
        <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
